<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="appLayout">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Cbinfo app</title>
    <link rel="stylesheet" href="../../../static/css/application.css" th:href="@{/css/application.css}"/>
    <!-- Bootstrap -->
    <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<div layout:fragment="content">

    <div th:id="${'createWebsiteModal'}" class="modal fade"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="modal-title"><p>Create site:</p></h3>
                    <div class="form-group">
                        <label for="createWebsite">Enter
                            url(***.**):</label>
                        <input type="text" class="form-control" id="createWebsite"
                               name="websiteName"/>
                        <div class="alert-danger hidden-block" hidden="true" id="site-creation-error">Error</div>
                        <div class="alert-success hidden-block" hidden="true" id="site-creation-success">Success! Site was created!</div>
                    </div>
                    <button id="createWebsiteButton" class="btn btn-primary create-website-btn">Create</button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="context user-context">
            <div th:if="${error} != null" class="alert alert-danger" th:text="${error}">Error</div>
            <h3 th:text="'Edit flight ' + ${flightForm.name} + ':'">Edit flight form</h3>
            <form class="form" th:action="@{/app/flights/edit}" th:object="${flightForm}"
                  method="post">
                <input th:if="${flightId} != null" type="hidden" th:field="*{flightId}" th:value="${flightId}"/>

                <div class="form-group">
                    <label for="companies">Choose campaign:</label>
                    <div class="input-group">
                        <select class="form-control" id="companies" th:field="*{campaignName}">
                            <option th:each="campaignName : ${campaignNames}"
                                    th:value="${campaignName}" th:text="${campaignName}">
                                Campaign
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="datepicker1" class="control-label">Choose start date:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="datepicker1"
                               th:field="*{startDate}"
                               th:value="*{startDate}"/>
                    </div>
                </div>
                <script>
                    $(function () {
                        $("#datepicker1").datepicker({dateFormat: 'dd/mm/yy', minDate: 0});
                    });
                </script>

                <div class="form-group">
                    <label for="datepicker2" class="control-label">Choose end date:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="datepicker2"
                               th:field="*{endDate}"
                               th:value="*{endDate}"/>
                    </div>
                </div>
                <script>
                    $(function () {
                        $("#datepicker2").datepicker({dateFormat: 'dd/mm/yy', minDate: 0});
                    });
                </script>


                <div class="form-group">
                    <label for="type">Choose type (impression/clicks):</label>
                    <div class="input-group">
                        <select class="form-control" id="type" th:field="*{type}">
                            <option th:each="type : ${types}"
                                    th:value="*{type}" th:text="${type}">Type
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="quantity" class="control-label">Enter
                        quantity(impressions/clicks):</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="quantity"
                               th:field="*{quantity}" th:value="*{quantity}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('quantity')}"
                                      th:errors="*{quantity}">Error</span>
                    </div>
                </div>

                <div class="form-inline">
                    <label for="websites">Choose website:</label>
                    <div class="input-group">
                        <select class="form-control" id="websites" th:field="*{websiteName}">
                            <option th:each="websiteName : ${websiteNames}"
                                    th:value="${websiteName}" th:text="${websiteName}">Company
                            </option>
                        </select>
                    </div>
                    <div class="input-group">
                        <a data-toggle="modal"
                           th:href="${'#createWebsiteModal'}">
                            <div class="btn btn-info">Create new site</div>
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
        $('#createWebsiteButton').click(function creation() {
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            var siteName = $('#createWebsite').val();
            var headers = {};
            headers[csrfHeader] = csrfToken;
            $.ajax({
                type: "POST",
                url: '/app/websites/ajax-create',
                headers: headers,
                data: {websiteName: siteName},
                success: function (response) {
                    $('#site-creation-error').hide();
                    $('#site-creation-success').show()
                    $('#websites').append($('<option/>', {
                        value: siteName,
                        text: siteName
                    }));
                },
                error: function (xhr, options, thrownError) {
                    $('#site-creation-success').hide();
                    $('#site-creation-error').text(xhr.responseText);
                    $('#site-creation-error').show();
                }
            });
        });
    </script>
</div>

</body>
</html>