<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create user</title>
    <link rel="stylesheet" href="../../static/css/formPageStyle.css" th:href="@{/css/formPageStyle.css}"/>
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="span6 offset3 text-center form-wrapper">
            <div class="form-body">
                <h2>Please, edit the form</h2>
                <p class="text-error help-block" th:if="${errorMessage} != null"
                      th:text="${errorMessage}">Error</p>
                <form th:action="@{/users/edit}" method="post" th:object="${userForm}">
                    <div class="control-group">
                        <label for="email">Email*</label>
                        <div class="controls">
                            <input type="text" id="email" name="email"  th:field="*{email}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">Error</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password">Change password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password"  th:field="*{password}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}">Error</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="reenteredPassword">Reenter password</label>
                        <div class="controls">
                            <input type="password" id="reenteredPassword" name="reenteredPassword" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="first_name">Name</label>
                        <div class="controls">
                            <input type="text" id="first_name" name="firstName" th:field="*{firstName}" />
                        </div>
                    </div>
                    <div class="controls-row">
                        <label for="last_name">Second name</label>
                        <div class="controls">
                            <input type="text" id="last_name" name="lastName" th:field="*{lastName}"/>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit change</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}">
</script>
</body>
</html>