/*for making block centered:
{
    margin: auto;
    width: 50%;
}*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.time-text {
    font-family: Helvetica;
    font-size: 20px;
    margin: 20px;
}

.btn-group {
    margin: 10px;
}

.user-context{
    margin: 30px;
}

.edit-button{
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    background: #1df81e url(../img/edit_icon.png) no-repeat center;
    background-size: 25px,25px;
}

.edit-button:hover {
    background-color: #08c808;
}

.edit-button:active {
    -webkit-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
}

.eye-button{
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    background: #4692f8 url(../img/eye_icon.png) no-repeat center;
    background-size: 25px,25px;
}

.eye-button:hover {
    background-color: #4a40c8;
}

.eye-button:active {
    -webkit-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
}

.delete-button {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    background: #ff9785 url(../img/trash_img.png) no-repeat center;
    background-size: 25px,25px;
}

.delete-button:hover {
    background-color: #ff664e;
}

.delete-button:active {
    -webkit-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
}

.home-button{
    width: 50px;
    height: 50px;
    margin: 3px;
    background: url(../img/home_icon.png) no-repeat center;
    background-size: 40px,40px;
}

.footer {
    background-color: #578aff;
    height: 50px;
    box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.60);
}

.main-wrapper{
    min-height:700px;
    padding-bottom: 50px;
}

