/*for making block centered:
{
    margin: auto;
    width: 50%;
}*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    background-color: #ffffff;
    height: 60px;
    padding: 10px;
}

.time-text {
    font-family: Helvetica;
    font-size: 20px;
    margin: 20px;
}

.btn-group {
    margin: 10px;
}

.delete-button {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    background: #ff9785 url(../img/trash_img.png) no-repeat center;
    background-size: 25px,25px;
}

.user-context{
    margin: 30px;
}

.create-button{
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    background: #18d119 url(../img/edit_icon.png) no-repeat center;
    background-size: 25px,25px;
}

.delete-button:hover {
    background-color: #ff664e;
}

.delete-button:active {
    -webkit-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px -1px 3px 0px rgba(0,0,0,0.75);
}

.footer {
    background-color: grey;
    height: 50px;
    box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.60);
}

