/*for making block centered:
{
    margin: auto;
    width: 50%;
}*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.time-text {
    font-size: 15px;
}

.btn-group {
    margin: 10px;
}

.user-context{
    margin: 30px;
}

.edit-button{
    width: 30px;
    height: 30px;
    margin: 2px;
    background: url(../img/edit_icon.png) no-repeat center;
    background-size: 25px,25px;
}

.edit-button:hover {
    background-size: 30px,30px;
}

.edit-button:active {
    background-size: 27px,27px;
}

.delete-button {
    width: 30px;
    height: 30px;
    margin: 2px;
    background: url(../img/trash_img.png) no-repeat center;
    background-size: 25px,25px;
}

.delete-button:hover {
    background-size: 30px,30px;
}

.delete-button:active {
    background-size: 27px,27px;
}

.home-button{
    width: 40px;
    height: 40px;
    margin: 3px;
    background: url(../img/home_icon.png) no-repeat center;
    background-size: 40px,40px;
}

.footer {
    background-color: #3e3f3a;
    height: 50px;
    box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.60);
}

.main-wrapper{
    min-height:700px;
    padding-bottom: 50px;
}

.footer-text{
    margin: 10px;
    color: #fbffca;
}

